body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: lota;
    src: url(lota_regular.otf);
}

@font-face {
    font-family: lotaBold;
    src: url(lota_bold.otf);
}

header,
main{
    font-family: lota;
}

.container {
    max-width: 172.8rem;
    margin: 0 auto;
    padding: 0 16rem;
}

.c-black {
    color: #21222D;
}

.c-white {
    color: #fff;
}

.b-black {
    background-color: #21222D;
}

.c-gray {
    color: #828282;
}

a.c-black:hover {
    color: #000;
}

a {
    transition: .4s;
}

section {
    padding-bottom: 14.4rem;
}

.logo{
    max-width: 120px;
}

.logo img {
    object-fit: contain;
}

.main-img {
    position: relative;
    height: 70.7rem;
    margin-top: 2.4rem;
    overflow: hidden;
}

.main-img .parent-img {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    object-fit: contain;
    z-index: 2;
}

.main-img .child-img {
    position: absolute;
    top: 0;
    right: 1rem;
    width: 13.5rem;
    height: 13.5rem;
    animation: rotating 10s linear infinite;
    z-index: -1;
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.main-left {
    height: 100%;
}

.contact-a {
    line-height: 2.9rem;
    color: #000000;
    border: .1rem solid #21222D;
    box-sizing: border-box;
    width: 26.8rem;
    /* height: 7rem; */
}

.contact-a:hover {
    color: #fff;
    background-color: #21222D;
}

.mini-footer a {
    line-height: 2.9rem;
}


.menubutton:before {
    transform: translateY(-.3rem);
}

.menubutton:after {
    transform: translateY(.6rem);
}

.menubutton.active:before {
    transform: translateY(0) rotate(45deg);
}

.menubutton.active:after {
    transform: translateY(0) rotate(-45deg);
}

.desk-none {
    display: none;
}

.resp-none {
    display: flex;
}

.mob-btns{
    display: flex;
    gap: 16px;
}

.contact-a,
.resume-mobile,
.resume{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    padding: 1em 2em;
    background: #21222D;
    border-radius: 8px;
    font: 2em lota;
}

.contact-a{
    background: #fff;
    color: #21222D;
    border: solid 1px #21222D;
}

.resume-mobile{
    display: none;
}

@media (max-width :1024px) {
    .container{
        padding: 0 8em;
    }
}

@media (max-width :767.9px) {

    .resume{
        display: none;
    }
    
    .resume-mobile{
        display: flex;
    }

    .menubutton {
        outline: none;
        border: 0;
        padding: 0;
        background: transparent;
        transition: all 250ms ease-out;
        cursor: pointer;
        position: relative;
        width: 3.2rem;
        height: 3.2rem;
        display: block !important;
    }

    .menubutton:before,
    .menubutton:after {
        content: '';
        width: 3.2rem;
        height: .3rem;
        position: absolute;
        background: #262626;
        transition: all 250ms ease-out;
        will-change: transform;
        border-radius: 3rem;
        right: 0;
    }

    .desk-none {
        display: flex;
    }

    .resp-none {
        display: none;
    }

    header {
        position: relative;
    }

    .main-left {
        margin-bottom: 3.6rem;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        width: 100vw;
        height: 95vh;
        z-index: 9;
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 4.2rem;
    }

    .mobile-menu a {
        width: -webkit-fill-available;
        margin: 0;
        margin-bottom: 3.2rem;
        color: #21222D;
        font-size: 2rem;
    }

    .mobile-menu .resume {
        margin: 0 2.4rem;
        color: #fff;
        font-size: 1.8rem;
    }

    header {
        margin-bottom: 2.4rem;
    }

    .main-left-title {
        font-size: 3.2rem;
        margin-bottom: 2.4rem;
       
    }

    .main-left-p {
        font-size: 1.6rem;
        margin-bottom: 2.4rem;
    }

    .mobile-menu.active {
        display: none;
    }

    .logo {
        width: 8rem;
        height: 5rem;
    }

    .contact-a {
        width: 16.4rem;
        font-size: 1.6rem;
    }

    .main-img {
        height: auto;
        margin-bottom: 7.2rem;
    }

    .main-img .parent-img {
        position: static;
    }

    .mini-footer a {
        font-size: 2rem;
    }

    section {
        padding-bottom: 11rem;
    }
}